@tailwind base;
@tailwind components;
@tailwind utilities;
.anime {
  background: url("./assets/College.jpg");
  background-size: cover;
  background-position: center;
  height: 45rem; /* Set your desired height */
  width: 100%; /* Full width */
}
.anime1 {
  background: url("./assets/College.jpg");
  background-size: cover;
  background-position: center; /* Set your desired height */
  width: 100%; /* Full width */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Gilroy";
  color: white;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: white;
}
::selection{
  color: white;
  background: black;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top:10px;
  padding-left: S10px;
}

.image {
  max-width: 100px;
  margin-right:1000px;
}

.nav {
  display: flex;
  margin-left: 20px;
} 

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-items {
  font-size: 20px;
  font-family: sans-serif;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: block;
}

.menu-items:hover {
  background-color: #555;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Tablet */
@media (max-width: 1000px) {
  .anime {
    height: 100rem;
    width: 100%; /* Adjust the height for tablets */
  }
  .hello{
    width: 80%; 
  }
}

/* Mobile */
@media (max-width: 480px) {
  .anime {
    height: 100rem;
    width: 480px; /* Adjust the height for mobile */
  }
  .hello{
    width: 470px; 
  }
}
.bye {

  @media screen and (max-width: 480px) {
    font-size: 1.5rem; 
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    font-size: 1.8rem; 
  }
}
.dhayanvad{
  @media screen and (min-width: 481px) and (max-width: 1000px) {
   width: 100%;
  }
}
