/* Footer Styles */
#footer {
  padding: 32px 80px 16px;
  background-color: #333;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

#footer-head {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 2px solid white;
}

#footer-head-logo > img {
  height: 100px;
}

#footer-head-socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icons {
  font-size: 2.5rem;
  color: #333;
  background-color: white;
  border-radius: 5px;
  margin-left: 1rem;
  cursor: pointer;
}

.icon {
  margin-right: 2px;
}

#footer-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-links {
  margin-top: 4rem;
}

#footer-info-left {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}

#footer-info-title {
  font-size: 28px;
  padding-bottom: 5px;
  font-weight: 700;
  color: white;
}

#footer-college-title {
  font-size: 24px;
  padding-bottom: 5px;
  font-weight: 600;
}

.footer-info-content {
  padding-bottom: 5px;
  font-size: 17px;
  color: white;
}

.footer-info-content2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-info-right {
  margin-top: 2rem;
}

#block {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: white;
  color: #333;
  margin: 3px;
  width: 35px;
  height: 35px;
  font-size: 25px;
  text-align: center;
  font-weight: 800;
  border-radius: 5px;
}

#footer-copyright {
  color: white;
  margin-top: 2rem;
  font-size: 17px;
}
